<h3>View Customer Details</h3>
<div>
    <div>
        <label> <b> Customer Id:</b> </label> {{customer.custid}}
    </div>
    <div>
        <label> <b> Name:</b> </label> {{customer.name}}
    </div>
    <div>
        <label> <b> Address:</b> </label> {{customer.address}}
    </div>

<h2>  Vehicle Details !</h2>
<table class="table table-striped ">
    <thead>
        <tr>
            <th> Vehicle Id</th>
            <th>RegistrationNumber</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let vehicle of vehicles"> 
            <td>{{vehicle.vid}}</td>
            <td>{{vehicle.registrationNumber}}</td>
            <td>{{vehicle.status}}</td>
            
        </tr>
    </tbody>
</table>



